/* Добавляет основные цвета для стилизации контента */
:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --color-black: #000000;
  --color-white: #ffffff;
  --bcg-color: #2f303a;
}

/* Добавляет стили для тега body */

body {
  margin: 0;

  color: var(--first-text-color);
  background-color: var(--color-white);

  font-family: 'Roboto', sans-serif;
}

/* Главный контейнер со всем контентом */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Добавляет стили для тега nav, header и li */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .logo-header {
  background-color: var(--color-white);
}

.logo-header {
  margin-top: 24px;
  margin-bottom: 25px;

  color: var(--color-black);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-span {
  color: var(--accent-color);
}

.header-list-site {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: end;
}

.link-site {
  color: var(--first-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-site:hover,
.link-site:focus {
  color: var(--accent-color);
}

.header-list-site .link-site.actual {
  color: var(--accent-color);
}

.link {
  color: var(--second-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Добавляет стили для класса hero */

.hero {
  color: var(--color-white);
  background-color: var(--bcg-color);

  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin: 0;
  display: block;

  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  align-items: center;
  text-align: center;
}

.button {
  padding: 10px 32px;
  margin: 30px auto 200px auto;

  color: var(--color-white);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: #188ce8;
  cursor: pointer;
}

/* Добавляет стили для раздела "особенности" */

.feature {
  margin-top: 94px;

  background-color: var(--color-white);
}

.feature-list {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.feature-item {
  list-style-type: none;
}

.feature-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-title {
  margin-top: 0;

  color: var(--first-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  margin-bottom: 0;
  margin-top: 0;

  color: var(--second-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Добавляет стили для раздела "чем занимаемся" */

.work {
  background-color: var(--color-white);
  margin-bottom: 94px;
}

.work-list {
  display: flex;
  margin: 0 15px 0 15px;
}

.work-item img {
  display: block;
  max-width: 100%;
  height: auto;

  padding: 0 15px 0 15px;
}

.work-title {
  margin-top: 94px;
  margin-bottom: 50px;

  color: var(--color-black);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-item {
  list-style-type: none;
}

/* Добавляет стили для раздела "наша команда" */

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 50px;

  color: var(--first-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  margin: auto;
  padding-bottom: 94px;

  justify-content: space-between;
}

.team-items {
  margin-right: 15px;
  margin-left: 15px;

  list-style-type: none;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-items img {
  margin-bottom: 0;

  display: block;
  max-width: 100%;
  height: auto;
}

.team-text {
  background-color: var(--color-white);
}

.team-name {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--first-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;

  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Добавляет стили для тега footer */

.footer {
  background-color: var(--bcg-color);
}

.logo-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 40px;

  color: var(--color-white);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-list {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--color-white);
  list-style-type: none;
}

.link-address {
  color: var(--color-white);
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}

.footer-item {
  list-style-type: none;
}

.footer-link {
  color: #ffffffa6;
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Добавляет основные стили для файла portfolio.html */
/* Добавляет стили для раздела "фильтры для поиска" */
.filtres-item {
  list-style-type: none;
}

.filtres-button {
  display: inline-block;
  border: 0;

  color: var(--first-text-color);
  background-color: #f5f4fa;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filtres-button:hover,
.filtres-button:focus {
  color: var(--color-white);
  background-color: #188ce8;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Добавляет стили для раздела "работы" */

.works {
  background-color: var(--color-white);
}

.works-item {
  list-style-type: none;
}

.works-title {
  color: var(--first-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
}

.works-text {
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
